<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserRegister</servlet-name>
  	<display-name>UserRegister</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogout</servlet-name>
  	<display-name>AdminLogout</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AdminLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<display-name>UserLogin</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogout</servlet-name>
  	<display-name>UserLogout</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSpeciality</servlet-name>
  	<display-name>AddSpeciality</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AddSpeciality</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDoctor</servlet-name>
  	<display-name>AddDoctor</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AddDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDoctors</servlet-name>
  	<display-name>AddDoctors</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AddDoctors</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorLoginServlet</servlet-name>
  	<display-name>DoctorLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.doctor.serlvet.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorLogoutServlet</servlet-name>
  	<display-name>DoctorLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.doctor.serlvet.DoctorLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<display-name>AppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.AppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentServlet</servlet-name>
  	<display-name>CommentServlet</display-name>
  	<description></description>
  	<servlet-class>com.doctor.serlvet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditDoctorDetailsServlet</servlet-name>
  	<display-name>EditDoctorDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.EditDoctorDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletDoctorServet</servlet-name>
  	<display-name>DeletDoctorServet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.DeletDoctorServet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserChangePasswordServlet</servlet-name>
  	<display-name>UserChangePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditDoctorDetailsByDoctorServlet</servlet-name>
  	<display-name>EditDoctorDetailsByDoctorServlet</display-name>
  	<description></description>
  	<servlet-class>com.dao.EditDoctorDetailsByDoctorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorChangePasswordServlet</servlet-name>
  	<display-name>DoctorChangePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.doctor.serlvet.DoctorChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserRegister</servlet-name>
  	<url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogout</servlet-name>
  	<url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogout</servlet-name>
  	<url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSpeciality</servlet-name>
  	<url-pattern>/AddSpeciality</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDoctor</servlet-name>
  	<url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDoctors</servlet-name>
  	<url-pattern>/AddDoctors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLoginServlet</servlet-name>
  	<url-pattern>/DoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLogoutServlet</servlet-name>
  	<url-pattern>/DoctorLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentServlet</servlet-name>
  	<url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditDoctorDetailsServlet</servlet-name>
  	<url-pattern>/EditDoctorDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletDoctorServet</servlet-name>
  	<url-pattern>/DeletDoctorServet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserChangePasswordServlet</servlet-name>
  	<url-pattern>/UserChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditDoctorDetailsByDoctorServlet</servlet-name>
  	<url-pattern>/EditDoctorDetailsByDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorChangePasswordServlet</servlet-name>
  	<url-pattern>/DoctorChangePasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>
